<app-header [title]="title"></app-header>
<br *ngIf="isDesktop">

<ion-content>

    <div class="content">
        <ion-grid>
            <ion-row>
                <!-- Left Menu -->
                <ion-col size-xl="4" size-md="4" size-sm="5" size-xs="12">
                    <!-- Categoriey -->
                    <strong><h3 class="title">Categories</h3></strong>
                    <!-- Mobile Category List -->
                    <div *ngIf="_platform.is('mobile')">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" *ngFor="let category of categories">
                                    <ion-item lines="none" class="category-item-mobile">
                                        <ion-icon class="categoy-item-icon" name="ellipse-outline"></ion-icon>
                                        {{ category.desc }}
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                    <!-- End Mobile Category List -->
                    
                    <!-- Web and Tablet Category List -->
                    <ion-list *ngIf="_platform.is('desktop') || _platform.is('ipad')">
                        <ng-container *ngFor="let category of categories">
                            <ion-item lines="none" class="category-item">
                                <ion-icon class="categoy-item-icon" name="ellipse-outline"></ion-icon>
                                {{ category.desc }}
                            </ion-item>
                        </ng-container>
                    </ion-list>
                    <!-- End Web and Tablet Category List -->
                    <!-- End Categories -->
    
                    <!-- Size -->
                    <strong *ngIf="_platform.is('desktop') || _platform.is('ipad')"><h3 class="title">Size</h3></strong>
                    <!-- End Size -->
    
                    <!-- Color -->
                    <strong *ngIf="_platform.is('desktop') || _platform.is('ipad')"><h3 class="title">Color</h3></strong>
                    <!-- End Color -->
    
                    <!-- Brands -->
                    <strong *ngIf="_platform.is('desktop') || _platform.is('ipad')"><h3 class="title">Brands</h3></strong>
                    <!-- End Brands -->
    
                    <!-- Price -->
                    <strong *ngIf="_platform.is('desktop') || _platform.is('ipad')"><h3 class="title">Price</h3></strong>
                    <!-- End Price -->
                
                </ion-col>
                <!-- End Left Menu -->
    
                <!-- Products -->
                <ion-col class="products" size-xl="8" size-md="8" size-sm="7" size-xs="12">
                    <strong><h3 class="title">Products</h3></strong>
                    <ion-grid>
                        <ion-row>
                            <ion-col size-lg="5" size-xl="6" size-md="6" size-xs="12" *ngFor="let product of products">
                                <ion-card>
                                    <img [src]="product.image_url" />
                                    <ion-card-header>
                                        <ion-card-title>{{ product.desc }}</ion-card-title>
                                        <ion-card-subtitle>{{ product.price }}</ion-card-subtitle>
                                    </ion-card-header>
                                    <ion-card-content>
                                        Add content here ...
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <!-- End Products -->
            </ion-row>
        </ion-grid>
    </div>
    
</ion-content>