<app-header [title]="title"></app-header>
<br *ngIf="isDesktop">

<ion-content>

    <div class="content">
        <ion-grid>
            <ion-row>
                <!-- Left Menu Only For Web-->
                <ion-col class="web-left-menu" size-xl="4" size-md="4" size-sm="5" size-xs="12">
                    <div *ngIf="!_platform.is('mobile')">
                        <!-- Categoriey -->
                        <strong><h3 class="title">Categories</h3></strong>
                        <ion-list>
                            <ng-container *ngFor="let category of categories">
                                <ion-item lines="none" class="category-item">
                                    <ion-icon class="categoy-item-icon" name="ellipse-outline"></ion-icon>
                                    {{ category.desc }}
                                </ion-item>
                            </ng-container>
                        </ion-list>
                        <!-- End Categoriey -->
        
                        <!-- Size -->
                        <strong><h3 class="title">Size</h3></strong>
                        <ul class="size-list-row">
                            <li><a href="#">20</a></li>
                            <li><a href="#">24</a></li>
                            <li class="active"><a href="#">36</a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#">XS</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">XL</a></li>
                        </ul>
                        
                        <!-- End Size -->
        
                        <!-- Color -->
                        <strong><h3 class="title">Color</h3></strong>
                        <!-- End Color -->
        
                        <!-- Brands -->
                        <strong><h3 class="title">Brands</h3></strong>
                        <!-- End Brands -->
        
                        <!-- Price -->
                        <strong><h3 class="title">Price</h3></strong>
                        <!-- End Price -->
                    </div>
                </ion-col>
                <!-- End Left Menu -->
    
                <!-- Products -->
                <ion-col class="products" size-xl="8" size-md="8" size-sm="12" size-xs="12">
                    <strong><h3 class="title">Products</h3></strong>
                    <ion-grid>
                        <ion-row>
                            <ion-col size-lg="5" size-xl="6" size-md="6" size-sm="6" size-xs="12" *ngFor="let product of products">
                                <ion-card>
                                    <img [src]="product.image_url" />
                                    <ion-card-header>
                                        <ion-card-title>{{ product.desc }}</ion-card-title>
                                        <ion-card-subtitle>{{ product.price }}</ion-card-subtitle>
                                    </ion-card-header>
                                    <ion-card-content>
                                        Add content here ...
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <!-- End Products -->
            </ion-row>
        </ion-grid>
    </div>
    
</ion-content>