<!-- <ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">  
      <ion-menu-button color="light"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header [title]="title"></app-header>

<!-- <ion-content [fullscreen]="true">
  <app-user-info></app-user-info>
  <div class="content">
    <h3> {{ spacex_info?.name }} </h3>
    <h3> {{ spacex_info?.ceo }} </h3>
    <h3> {{ spacex_info?.cto_propulsion }} </h3>
    <h3> {{ spacex_info?.founded }} </h3>
  </div>
</ion-content> -->


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ul *ngFor="let user of users">
    <li> {{ user?.username }} </li>
  </ul>
  <ion-item>
    <h3>Categories</h3>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="3" size-md="6" size-xs="12" *ngFor="let c of categories">
        <ion-card>
          <img [src]="c.imgUrl" />
          <ion-card-header>
            <ion-card-subtitle>{{c.desc}}</ion-card-subtitle>
            <ion-card-title>{{c.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <br><br>
  
  <ion-item>
    <h3>Trending Clothes</h3>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="3" size-lg="4" size-md="6" size-xs="6" *ngFor="let c of clothes">
        <ion-card>
          <img [src]="c.imgUrl" />
          <ion-card-header>
            <ion-card-subtitle>{{c.name}}</ion-card-subtitle>
            <ion-card-title>${{c.price}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
