<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sample IONIC Blank App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3> {{ spacex_info?.name }} </h3>
    <h3> {{ spacex_info?.ceo }} </h3>
    <h3> {{ spacex_info?.cto_propulsion }} </h3>
    <h3> {{ spacex_info?.founded }} </h3>
  </div>
</ion-content>
